{% extends 'blogs/base.html' %}
{% block title %}{{ blog_post.title }} - SkyBlog{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header text-center">
            <h4 class="my-0">{{ blog_post.title }}</h4>
        </div>
        <div class="card-body text-center">
            <img src="{{ blog_post.preview_image.url }}" class="img-fluid" style="max-width: 400px;">
            <p class="mt-3">{{ blog_post.content }}</p>
            <p class="text-primary">{{ blog_post.count_views }} просмотров</p>
            <a class="btn btn-primary" href="{% url 'blogs:blog_list' %}">Назад</a>
        </div>
    </div>
</div>
{% endblock %}