{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>Письмо отправлено</h4>
                </div>
                <div class="card-body">
                    <p>Мы отправили вам инструкции по сбросу пароля на указанный email.</p>
                    <p>Если вы не получили письмо, проверьте папку "Спам" или правильность введенного email.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}